<div id="<%= dom_id assistant %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= assistant.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Model:</strong>
    <%= assistant.model %>
  </p>
</div>
