<h1>Editing assistant</h1>

<%= render "form", assistant: @assistant %>

<br>

<div>
  <%= link_to "Show this assistant", @assistant %> |
  <%= link_to "Back to assistants", assistants_path %>
</div>
