<p style="color: green"><%= notice %></p>

<h1>Assistants</h1>

<div id="assistants">
  <% @assistants.each do |assistant| %>
    <%= render assistant %>
    <p>
      <%= link_to "Show this assistant", assistant %>
    </p>
  <% end %>
</div>

<%= link_to "New assistant", new_assistant_path %>
